.sliderCon {
	width: 300px;
	height: 200px;
	margin: 90px auto;
	overflow: hidden;
}

.slider {
	width: 960px;
	height: 200px;
}

img {
	height: 200px;
	width: 300px;
}


.buttons {
	background-color: red;
	height: 100px;
	width: 100px;
}
 /* navigation button */
 
 .container {
	width: 100%;

 }

 .navbar {
	width: 300px;
 	margin: 0 auto;
 	word-spacing: 13em;
 }

 #prev {
 	display: inline-block;
 }

 #next {
 	display: inline-block;
 }