body {
	font-family: Open Sans, sans-serif;
	background-color: #FFF0F5;
	margin:0;
}

.clear {
	clear: both;
}

.container {
	width: 960px;
	margin: 0px auto;
}

#container {
	width: 960px;
	height: 435px;
	margin: 0px auto;
}

.banner {
	box-shadow: 3px 3px 3px #999;
	display: inline;
	width: 650px;	
}

#left {
	width: 650px;
	height: 435px;
	margin: 30px auto;	
	float: left;	
	overflow: hidden;
}

.slider {
	width: 2000px;	
	height: 435px;
}

#right {
	width: 30%;
	margin: 30px auto;
	float: right;
}

/* Header */

#header {
	width: 100%;
	height: 100px;
	background-color: white;
}

#comp_logo {
	position:absolute;
	margin-top: 20px;

}

#compname {
	margin: -15px auto 0 55px;
	position: absolute;
	font-size: 25px;
	color: #888;
}

.link_nav {
	font-size: 15px;
	color: #48D1CC;
	text-decoration: none;
}

.link_nav:hover {
	font-size: 15px;
	color: black;
	background-color: #EAEAEA; 
	text-decoration: none;
}

.link_nav:active {
	font-size: 15px;
	color: #352612;
	background-color: #EAEAEA; 
	text-decoration: none;	
}

#navbar {
	word-spacing: 5.5em;
}


#navpane {
	float: right;
	margin: 5%;
}

/* Footer */


#footer{
	width: 100%;
	padding: 30px;
	background-color: #000;
	font-size: 13px;
	box-shadow: 3px 3px 2px #999;
	display: inline-block;
}


.footer_div {
	color: white;
	line-height: 0;
	float: left;
	width: 25%;
}

.icon {
	display: inline-block;
	vertical-align: middle;
}

.content {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

/* Buttons */
.button {
	height: 40px;
	border: 1px solid white;
	margin-bottom: 10px;
	padding: 5px;
	box-shadow: 2px 2px 2px #999;
}

.button:nth-child(1) {
	background: linear-gradient(to top,#f2ad30, #FFF68f);
}

.button:nth-child(2) {
	background: linear-gradient(to top, #64ab26, #7ccd7c);
}

.button:nth-child(3) {
	background: linear-gradient(to top,#38a6a6, #00f5ff);
}

.button:hover{
	height: 40px;
	border: 1px solid white;
	background: linear-gradient(to top, black, #999);
	margin-bottom: 10px;
}

.name{
	color: white;
	line-height: 0;
	display: inline-block;
	font-size: 20px;
	margin-left: 20px;
	margin-top: -5px;
}

.play {
	margin: 5px;
	float: right;
	display: inline-block;
	margin-right: 10px;
}

#text_field {
	height: 180px;
	background-color: #36ABAB;
	padding: 20px;	
	color: white;
	border: solid 1px white;
	box-shadow: 3px 3px 2px #999;
}

.nav-button {
	position: absolute;
	top: 40%;
	display: block;
}

#container:hover .nav-button {
	display: block;
}

#right-but {
	right: 40%;
}

#play-but {
	top: 65%;
	right: 44%;
}

#pause-but {
	top: 65%;
	right: 44%;
}
/* counter */

#counter {
	right: 42%;
	top: 65%;
}